.App {
}

.App-header {
  color: white;
  font-size: 20px;
  font-weight: bold;

}

.page-header{
  color: white;
}

.api-key-holder{
  background-color: black;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  font-family: monospace;
}

.graph{
  height: 100%;
  background-color: #61dafb;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
  text-decoration: underline;
}
