.App-header {
  color: white;
  font-size: 20px;
  font-weight: bold;

}

.page-header{
  color: white;
}

.api-key-holder{
  background-color: black;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  font-family: monospace;
}

.header {
  width: 500px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.refresh-button {
  background: purple;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;

  cursor: pointer;
  outline: none;
  border: none;
  transition: all 150ms ease;
}

.refresh-button:hover {
  background: #61dafb;
  color: black
}

.graph{
  height: 100%;
  background-color: #61dafb;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
  text-decoration: underline;
}
